.App {
  max-width: 800px;
  margin: 40px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  color: #dad4ec;
}

.App .container {
  background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
  border-radius: 10px;
  height: 600px;
}

@media (max-width: 600px) {
  .App .container {
    height: 1010px;
    max-width: 400px;
  }
  .App footer {
    font-size: 9px;
    margin: 10px 0;
    padding: 10px;
    text-align: center;
    color: #dad4ec;
  }
}
