.Weather {
  padding: 30px;
  border-radius: 4px;
  color: rgb(51, 2, 123);
}

.Weather h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 30px 0 10px 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  margin: 15px auto;
}

.Weather .btn {
  background: #5e63b6;
  color: #f4f3f6;
  transition: all 150ms ease-in-out;
}

.Weather .btn:hover {
  box-shadow: 5px 7px 5px rgba(109, 108, 109, 0.3);
}

@media (max-width: 600px) {
  .Weather form-control {
    width: 40px;
  }
  .Weather .btn {
    width: 75px;
  }
  .Weather .temperature {
    line-height: 50px;
  }
}
